@model SportsStore.Domain.Entities.Product
<div class="card p-3 bg-light text-dark mb-2">
	<h3>
		<strong>@Model.Name</strong>
		<span class="badge bg-primary float-end">
			@Model.Price.ToString("c")
		</span>
	</h3>
	<span class="lead">@Model.Description</span>
</div>
