@using SportsStore.Domain.Entities
@model IEnumerable<Product>

@{
    ViewBag.Title = "List";
}

@foreach (var p in Model)
{
    <div>
        <h3>Name = @p.Name</h3>
        <h4>Desc = @p.Description</h4>
        <h4>Price = @p.Price.ToString("c")</h4>
        <h4>Category = @p.Category</h4>
        <h4>===============================</h4>
    </div>
}

