@model SportsStore.WebUI.Models.LoginViewModel

@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="container mt-5">
    <div class="card">
        <div class="card-header">
            <h3>Log in</h3>
        </div>
    </div>
</div>

